* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  height: 100vh;
  display: grid;
  align-content: center;
}

.board {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-gap: 10px;
  width: 800px;
  margin: 0 auto;
  background: blue;
  padding: 1em;
  align-content: center;
  border-radius: 5px;
  border: 3px solid rgb(0, 0, 218);
}

.tile {
  width: 100px;
  height: 100px;
  background: white;
  border-radius: 50%;
  transition: all 0.3s ease;
  border: 3px solid rgb(0, 0, 218);
}

.hover {
  background: lightblue;
}

.red {
  background: red;
}

.yellow {
  background: yellow;
}
